service: zero-olympiad-server

provider:
  name: aws
  runtime: nodejs14.x
  region: us-east-1
  memorySize: 128
  timeout: 10

functions:
  app:
    handler: handler.app
    events:
      - http:
          path: /{proxy+}  # This will catch all routes
          method: any

resources:
  Resources:
    ApiGateway:
      Type: AWS::ApiGateway::RestApi
      Properties:
        Name: "ZeroOlympiadAPI"
